<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue监测数据改变的原理_数组</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="root">
    <h1>公司信息</h1>
    <h2>人公司名称：{{name}}</h2>
    <h2>公司地址：{{address}}</h2>
    <hr>
    <h1>员工信息</h1>
    <button @click="addSex">添加一个性别属性，默认值：男</button>
    <h2>员工名称：{{employee.name}}</h2>
    <h2 v-if="employee.sex">员工性别：{{employee.sex}}</h2>
    <h2>员工年龄：真实{{employee.age.rAge}}，对外{{employee.age.sAge}}</h2>
    <h2>爱好</h2>
    <ul>
      <li v-for="(h, index) in employee.hobby" :key="index">
        {{h}}
      </li>
    </ul>
    <h2>朋友们</h2>
    <ul>
      <li v-for="(f, index) in employee.friends" :key="index">
        {{f.name}}--{{f.age}}
      </li>
    </ul>
  </div>

  <script>
    Vue.config.productionTip = false

    new Vue({
      el:"#root",
      data:{
        name:"字节跳动",
        address:"广东省广州市",
        employee:{
          name:"KDH",
          age:{
            rAge:35,
            sAge:28
          },
          hobby:{
            h1:"学习",
            h2:"看剧",
            h3:"游泳"
          },
          friends:[
            {name:"tony", age:30},
            {name:"marry", age:25}
          ]
        }
      },
      methods: {
        addSex(){
          // Vue.set(this.employee, "sex", "男")  // 方法一
          this.$set(this.employee, "sex", "男")  // 方法二
        }
      },
    })
  </script>
</body>

</html>